################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NexoBotV01/DesignTimeBuild/.dtbcache.v2
